body{
  background-color: #FFF;

}

h2{
  font-weight: bold;
  font-style: italic;
}

hr{
  color:#DDD;
}

.hr-1{
  padding: 0.5px;
}

.images{
  height: 50%;
  width: 50%;
}

.news-content{
  padding: 40px;
}
