{% macro displayNewsList(news_list) %}
{% for new in news_list %}

<article class="article">


  <div class="container news-content">


    <div class="">
      <h2 class="border-bottom mb-2">{{ new.title }}</h2>
      <hr>
      <h5 class="overview">{{ new.description }}</h5>
      <p class=""> <b> {{ new.content}}</b> </p>
      <br>
      <p class="text-muted">By <span style="color:blue;">{{new.author}}</span> {{ new.publishedAt }}</p>






    </div>
    <div class="container">
      <a href="{{new.url}}"><img class="images" src="{{new.urlToImage}}" alt=""></a>
    </div>

  </div>



  <hr class="hr-1" style=" background-color:#000000;">
</article>


{% endfor %}
{% endmacro %}
